.btn {
    border-radius: .25rem;
    font-weight: 600 !important;
    white-space: nowrap;
}

  .btn-pagination {
    padding: .5rem 1rem;
    margin: 0 .2rem;
  }

  .btn-round {
    border-radius: 2rem;
    padding: .3rem .5rem;
    width: 36px;
    height: 36px;
  }

  .btn-round i.bi {
    font-size: 1rem !important;
  }

.btn-primary,
.btn-secondary,
.btn-outline-primary,
.btn-outline-secondary {
    padding: 0.5rem 1.375rem 0.375rem 1.375rem;
}

.btn-primary {
    border: 1px solid $primary;
    color: $btn-color;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:focus,
.btn-outline-primary:focus-visible {
    border: 1px solid $primary;
    color: $btn-color;
    background-color: $primary;
}

.btn-secondary {
    border: 1px solid $secondary;
    color: $white;
    background-color: $secondary;
    box-shadow: 4px 9px -4px rgba($secondary, 0.5);
}

.btn-secondary:hover {
    color: $white;
    background-color: $secondary;
    box-shadow: 0 4px 18px 0 rgba($secondary, 0.4);
}

.btn-secondary:focus,
.btn-secondary:focus-visible,
.btn-secondary:active {
    color: $white;
}

.btn-outline-secondary {
    border: 1px solid $secondary;
    color: $secondary;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary:focus,
.btn-outline-secondary:focus-visible {
    border: 1px solid $secondary;
    color: $secondary;
    background-color: rgba($secondary, 0.15);
    box-shadow: 0 4px 12px 0 rgba($secondary, 0.1);
}

a.action-btn {
    text-decoration: none;
    white-space: nowrap;
}

.btn-row {
    display: flex;
}

.btn-row button.btn:not(:last-child),
.btn-row a.btn:not(:last-child) {
    margin-right: 1rem;
}
