.btn {
    border-radius: .25rem;
    font-weight: 600 !important;
}
  
  .btn-pagination {
    padding: .5rem 1rem;
    margin: 0 .2rem;
  }
  
  .btn-round {
    border-radius: 2rem;
    padding: .3rem .5rem;
    width: 36px;
    height: 36px;
  }
  
  .btn-round i.bi {
    font-size: 1rem !important;
  }

.btn-primary,
.btn-secondary,
.btn-outline-primary,
.btn-outline-secondary {
    padding: 0.5rem 1.375rem 0.375rem 1.375rem;
}

.btn-primary {
    border: 1px solid $primary;
    color: $white;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:focus-visible {
    border: 1px solid $primary;
    color: #fff;
    background-color: $primary;
}

.btn-secondary {
    border: 1px solid $secondary;
    color: $white;
    background-color: $secondary;
    box-shadow: 4px 9px -4px rgba($secondary, 0.5);
}

.btn-secondary:hover {
    color: $white;
    background-color: $secondary;
    box-shadow: 0 4px 18px 0 rgba($secondary, 0.4);
}

.btn-secondary:focus,
.btn-secondary:focus-visible,
.btn-secondary:active {
    color: $white;
}

.btn-outline-secondary {
    border: 1px solid $secondary;
    color: $secondary;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus,
.btn-outline-secondary:focus-visible {
    border: 1px solid $secondary;
    color: $secondary;
    background-color: rgba($secondary, 0.2);
    box-shadow: 0 4px 18px 0 rgba($secondary, 0.2);
}

.btn-other,
.btn-other:active {
    background-color: $border-color;
    border: 1px solid $border-color;
    color: darken($border-color, 50%);
    box-shadow: none;
    padding: 0.5rem 1.375rem 0.375rem 1.375rem;
}

.btn-other:hover,
.btn-other:focus,
.btn-other:focus-visible {
    background-color: darken($border-color, 10%);
    color: darken($border-color, 20%);
    box-shadow: none;
}