.card-header {
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    background: transparent;
}

.card-hello {
    //background: linear-gradient(118deg, $primary-dark, $primary-light);
    //color: $light;
    margin: 1.2rem 0;
}

.card {
    height: 100%;
    box-shadow: none;
    border: 1px solid transparent;
}

.card-col {
    padding-bottom: 1rem;
}

.card.card-url{
    background-color: rgba($primary,0.08);
}

.card.card-url:hover {
    cursor: pointer;
    -webkit-box-shadow: inset -5px -15px 75px -28px rgba($primary,0.12);
    -moz-box-shadow: inset -5px -15px 75px -28px rgba($primary,0.12);
    box-shadow: inset -5px -15px 75px -28px rgba($primary,0.12);
    transition: all 0.2s ease-in-out;
}

.card.card-url.inactive {
    background-color: rgba($greenish,0.2) !important;
}

.card.inactive:hover {
    cursor: pointer;
    -webkit-box-shadow: inset -5px -15px 75px -28px rgba($greenish,0.4);
    -moz-box-shadow: inset -5px -15px 75px -28px rgba($greenish,0.4);
    box-shadow: inset -5px -15px 75px -28px rgba($greenish,0.4);
}

.campaign-card .campaign-img{
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    height: 15em;
    pointer-events: none;
}

.campaign-card .card-top {
    display: flex;

}

.campaign-card .campaign-badges {
    display: flex;
    margin-left: auto;
    margin-bottom: $card-title-spacer-y;
}

.campaign-card .campaign-badges div {
    display: flex;
    align-items: center;
    font-size: .75rem;
    margin-left: .35rem;
}

.campaign-card .campaign-badges div i.bi{
    font-size: 1rem;
    color: $secondary;
}

.campaign-card .card-top .card-title {
    font-weight: 700;
    font-family: $font-family-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $secondary;
    font-size: 1.3rem;
    white-space: nowrap;
}

.campaign-card.inactive .card-top .card-title {
    color: darken($greenish, 25%);
}

.campaign-card .card-text {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    margin-bottom: .7rem;
}

.campaign-card .details .element,
.path-card .details .element {
    display: flex;
    margin-top: .5rem;
}

.campaign-card .details .element .element-title {
    display: flex;
    align-items: center;
    color: $secondary;
}

.campaign-card .details .element .element-title span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: 600;
}

.campaign-card .progress-bar {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: .5rem;
}

.campaign-card .progress-bar .bar-container {
    width: 100%;
    height: .3em;
    background-color: rgba($secondary, 0.2);
}

.campaign-card .progress-bar .bar-progress {
    height: 100%;
}

.campaign-card .progress-bar .bar-container,
.campaign-card .progress-bar .bar-progress {
    border-bottom-right-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
}

.card.profile-card {
    background-color: rgba($primary,0.08);
}

.profile-picture img {
    border-radius: 50%;
}

.user-header {
    display: flex;
    font-family: $font-family-serif;
}

.user-header .user-name {
    font-size: 1.7rem;
    font-weight: 700;
    color: $primary;
}

.user-header .user-position {
    color: $secondary;
}

.user-header .user-actions {
    color: $primary;
    margin-left: auto;
    font-size: 1.3rem;
    white-space: nowrap;
}
.user-header .user-actions a {
    margin-left: .5rem;
    text-decoration: none;
}
