.card-header {
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    background: transparent;
}

.card-hello {
    //background: linear-gradient(118deg, $primary-dark, $primary-light);
    //color: $light;
    margin: 1.2rem 0;
}

.card {
    height: 100%;
    box-shadow: none;
    border: 1px solid $border-color;
}

.card.path-card {
    color: $light;
    border-radius: 1.3rem;
    height: 22em;
    display: flex;
}

.card.path-card .card-body{
    padding: 1.5rem 2rem;
    align-content: end;
    display: grid;
}

.card.course-card {
    margin-top: 1rem;
}

.card.course-card:hover {
    cursor: pointer;
    -webkit-box-shadow: inset -5px -15px 75px -28px rgba($border-color,0.85);
    -moz-box-shadow: inset -5px -15px 75px -28px rgba($border-color,0.85);
    box-shadow: inset -5px -15px 75px -28px rgba($border-color,0.85);
}

.course-card .course-img{
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    height: 15em;
    pointer-events: none;
}

.course-card .card-title,
.path-card .card-title {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-card .card-title {
    font-size: 1rem;
    white-space: nowrap;
}

.path-card .card-title {
    font-size: .85rem;
}

.course-card .card-text,
.path-card .card-text {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
}

.course-card .details .element,
.path-card .details .element {
    display: flex;
    align-items: center;
    padding: .3rem .5rem 0 .5rem;
}

.course-card .progress-bar {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.course-card .progress-bar .bar-container {
    width: 100%;
    height: .3em;
    background-color: $columbia;
}

.course-card .progress-bar .bar-progress {
    height: 100%;
}

.course-card .progress-bar .bar-container,
.course-card .progress-bar .bar-progress {
    border-bottom-right-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
}


.card.module-card {
    padding: 2rem 1rem;
    color: $primary;
}

.card.module-card,
.card.module-card.active:hover {
    -webkit-box-shadow: inset -5px -15px 75px -28px rgba($dimm-blue,0.4);
    -moz-box-shadow: inset -5px -15px 75px -28px rgba($dimm-blue,0.4);
    box-shadow: inset -5px -15px 75px -28px rgba($dimm-blue,0.4);
}

.card.module-card.active,
.card.module-card:not(.active):hover {
    cursor: pointer;
    color: $primary;
    -webkit-box-shadow: inset -5px -15px 75px -28px rgba($secondary,0.5);
    -moz-box-shadow: inset -5px -15px 75px -28px rgba($secondary,0.5);
    box-shadow: inset -5px -15px 75px -28px rgba($secondary,0.5);
}

.module-card .module-icon {
    font-size: 4.5rem;
    text-align: center;
}

.module-card .module-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: end;
    text-transform: capitalize;
}

.card.module-card:not(.active),
.card.module-card.active:hover {
    color: rgba($primary, 0.5);
}