select, input {
  display: block;
  width: 100%;
}

*:focus,
*:focus-visible {
    outline: none;
}

.form-control,
select,
input[type="search"] {
  font-size: $form-font-size;
  border: 1px solid $input-border-color;
  padding: $input-padding;
  line-height: $input-line-height;
  background-color: $input-background;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: $input-border-radius;
  color: $input-color;
}

.form-control:focus,
select:focus,
input[type="search"]:focus {
  border: 1px solid $input-border-focus-color;
  box-shadow: $input-box-shadow-focus;
}

.form-group {
  margin-bottom: 1.5rem;
}

.divider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem 0; }
    .divider .divider-text {
      position: relative;
      display: inline-block;
      font-size: .8rem;
      //color: $gray-800;
      padding: 0 1rem;
      background-color: #fff; }
      .divider .divider-text i {
        font-size: 1rem; }
      .divider .divider-text:before, .divider .divider-text:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        border-top: 1px solid rgba(0, 0, 0, 0.1); }
      .divider .divider-text:before {
        right: 100%; }
      .divider .divider-text:after {
        left: 100%; }
    .divider.divider-left .divider-text {
      float: left;
      padding-left: 0; }
      .divider.divider-left .divider-text:before {
        display: none; }
    .divider.divider-left-center .divider-text {
      left: -25%; }
    .divider.divider-right .divider-text {
      float: right;
      padding-right: 0; }
      .divider.divider-right .divider-text:after {
        display: none; }
    .divider.divider-right-center .divider-text {
      right: -25%; }
    .divider.divider-dotted .divider-text:before, .divider.divider-dotted .divider-text:after {
      border-style: dotted;
      border-width: 1px;
      border-top-width: 0;
      border-color: black; }
    .divider.divider-dashed .divider-text:before, .divider.divider-dashed .divider-text:after {
      border-style: dashed;
      border-width: 1px;
      border-top-width: 0;
      border-color: black;
}

.users-view-image {
  width: 150px;
}

.valid-feedback, .invalid-feedback {
  font-size: 0.8rem;
}

.settings .settings-contents {
  padding: 0 2.5rem;
}

form.form-horizontal label {
  font-size: .85rem;
}

form.form-horizontal .action-btns {
  margin-left: auto;
  position: relative;
  display: flex;
  padding-top: 1rem;
}

form.form-horizontal .form-info {
  margin-left: auto;
  align-self: center;
}

form.form-horizontal .form-info span.info-box {
  font-size: 1rem;
  cursor: pointer;
  color: $info;
}

form.form-horizontal .action-btns .btn {
  margin-left: auto;
}

form label.required::after {
    font-family: $font-family-icons;
    content: "\f151";
    color: $danger;
    font-size: .5rem;
    vertical-align: text-top;
}

.form-check.form-switch .form-check-input {
  width: 3em;
  height: 1.3em;
}

.form-check.form-switch .form-check-input:not(:checked){
  background-color: $sidebar-bg;
  border-color: rgba($secondary, 0.6);
}

.form-check:not(.form-switch) .form-check-input {
  width: 1.2em;
  height: 1.2em;
}

.form-check:not(.form-switch) input[type="radio"] {
  width: 1.2em;
  height: 1.2em;
}

input[type=file]::-webkit-file-upload-button,
input[type=file]::file-selector-button {
  display: none;
}

.input-group .input-snippet {
    width: 100%;
    text-align: end;
    font-size: .7rem;
    margin-top: .3rem;
}

.modal-header,
.modal-footer {
    border: none;
}
