html, body {
    direction: ltr;
    height: 100%;
}

html::-webkit-scrollbar {
    width: 10px;
  }

  html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
  }

  html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

  html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

  html::-webkit-scrollbar-thumb:active {
    background: $primary;
    border-radius: 10px;
}

#app{
    height: 100%;
    word-wrap: break-word;
}

body {
    background-color: $body-wrapper-bg;
}

.content {
    padding: 0;
    position: relative;
    transition: 300ms ease all;
    backface-visibility: hidden;
    min-height: calc(100% - 4rem);
    transition: all .4s ease 0s;
    padding-bottom: 1.5rem;
}

.page-wrapper {
    padding: 0 1.5rem;
}

.content-card {
    background-color: $body-bg;
    padding: 2.5rem 2rem;
    margin: .75rem 0 2rem 0;
    border-radius: .35rem;
    min-height: 100%;
}

@media (min-width: 992px){
    .content {
        margin-left: $menu-expanded-width;
    }
}
@media (max-width: 992px){
    .content {
        margin-left: 0 !important;
    }

    .page-wrapper {
        padding: 0 .75rem;
    }

    .content-card {
        padding: 2rem 1.5rem;
    }
}

.content.menu-collapsed {
    margin-left: $menu-collapsed-width;
}


.blank-content {
    overflow: overlay;
    overflow-x: hidden;
}

.flexbox-container {
    display: flex;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    justify-content: center;
}

section.content-wrapper {
    word-wrap: break-word;
}

.text-align-end {
    text-align: end !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.mr-auto, .me-auto {
    margin-right: auto !important;
}

.bg-light {
    background-color: $light !important;
}

.round {
    border-radius: 1.5rem !important;
}

.align-items-middle {
    vertical-align: middle;
}

.settings .section {
    padding: 1.5rem 0;
}

.error-page {
    display: flex;
    justify-content: center;
    height: 100%;
}

.error-page .error-code {
    font-size: 8rem;
    font-weight: 700;
    font-family: $font-family-monospace;
}

.error-page .error-icon {
    font-size: 5rem;
}

.error-page .error-title {
    font-size: 1.3rem;
    font-family: $font-family-monospace;
    font-weight: 700;
    text-transform: uppercase;
}

.nowrap {
    white-space: nowrap !important;
}

