.table-container::-webkit-scrollbar {
    width: 3px;
}

.table-container::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 2px;
}

.table-container::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 2px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 2px;
}

.table-container::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 2px;
}

.table-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: .5rem 0;
}

.settings-table {
    clear: both;
    border-collapse: separate !important;
    border-spacing: 0 1.1rem;
    width: 100%;
}

.settings-table th {
    width: 12rem;
    font-weight: 700;
    font-size: .9rem;
}

.settings-table td {
    padding-left: 1rem;
}

.ombo-table tbody {
    border-style: none;
}

.dataTables_paginate a {
    text-decoration: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
    color: #fff !important;
    background: $primary;
    border: 1px solid $primary;
    border-radius: 0.25rem;
    padding: .5rem;
    margin: 0 .35rem;
}

.ombo-table .action-btns {
    text-align: center;
    white-space: nowrap;
}

.ombo-table .action-btns a {
    text-decoration: none;
}

table.ombo-table {
    border-collapse: separate !important;
    border-spacing: 0 .5rem;
}

table.ombo-table td,
table.ombo-table th {
    padding: .75rem;
    vertical-align: middle;
}

table.ombo-table tbody tr{
    background-color: rgba($primary,0.05);
}

table.ombo-table tbody tr:hover {
    background-color: rgba($primary,0.1);
    transition: all 0.2s ease-in-out;
}

.ombo-table > :not(caption) > * > * {
    border-bottom-width: 0;
}

.ombo-table .user-details {
    display: flex;
    align-items: center;
}
.ombo-table .user-details img {
    border-radius: 50%;
    width: 2rem;
    margin-right: .5rem;
}

.ombo-table .user-details a {
    text-decoration: none;
}

.ombo-table td.firstcol{
    border-top-left-radius: .35rem;
    border-bottom-left-radius: .35rem;
}
.ombo-table td.lastcol{
    border-top-right-radius: .35rem;
    border-bottom-right-radius: .35rem;
}

ul.ombo-list {
    list-style: none;
    padding: .5rem 0;
}

.ombo-list li {
    border-radius: .35rem;
    background-color: $ombo-body;
    padding: .5rem 1rem;
    margin: 0.35rem 0;
}

.ombo-list li.inactive {
    background-color: $ombo-body-inactive;
}

.ombo-list li .list-grid{
    display: flex;
    align-items: center;
}

.ombo-list li .list-content{
    display: flex;
    align-items: center;
    font-size: .8rem;
}

.ombo-list li .list-content span{
    color: $secondary;
    white-space: nowrap;
}

.ombo-list li .list-actions{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.ombo-list li .list-actions .list-action{
    text-decoration: none;
    margin-right: .35rem;
    font-size: 1rem;
    color: $secondary;
    white-space: nowrap;
}

.ombo-list li .list-actions .list-action i {
    margin-right: .2rem;
}

.ombo-list li .list-actions .list-action span{
    font-size: .85rem;
    font-weight: 600;
}

.ombo-list li:hover {
    -webkit-box-shadow: inset -5px -15px 75px -28px $ombo-body-hover;
    -moz-box-shadow: inset -5px -15px 75px -28px $ombo-body-hover;
    box-shadow: inset -5px -15px 75px -28px $ombo-body-hover;
    transition: all 0.2s ease-in-out;
}

.ombo-list li.inactive:hover {
    -webkit-box-shadow: inset -5px -15px 75px -28px $ombo-body-inactive-hover;
    -moz-box-shadow: inset -5px -15px 75px -28px $ombo-body-inactive-hover;
    box-shadow: inset -5px -15px 75px -28px $ombo-body-inactive-hover;
    transition: all 0.2s ease-in-out;
}

.dataTables_paginate a {
    padding: 0 .5rem;
}

.draggable-table {


    .draggable-table__drag {
        position: absolute;
        width: 100%;
        text-indent: 50px;
        border: 1px solid #f1f1f1;
        z-index: 10;
        cursor: grabbing;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
                box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);

        opacity: 1;
    }

  thead {

    th {
      user-select: none;
    }
  }

  tbody {

    tr {
      cursor: grabbing;

      td {
        padding: 10px;
        user-select: none;
        border-top: 1px solid whitesmoke;
      }
    }

    tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    tr:nth-child(odd) {
        background-color: #ffffff;
    }

    tr.is-dragging {
        background: rgba($primary,0.15);

        td {
            color: rgba($primary,0.05);
        }
    }
  }
}
