body {
    color: $paragraph-color;
}

.lh-13 {
    line-height: 1.3 !important;
}

.tab-pane .header {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #111;
    padding-left: 1rem;
    padding-bottom: 1.3rem;
}

.alert a {
    font-weight: 700;
    text-decoration: underline;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track {
background: rgb(179, 177, 177);
border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
background: rgb(136, 136, 136);
border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
background: rgb(100, 100, 100);
border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:active {
background: rgb(68, 68, 68);
border-radius: 10px;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

a {
    color: $primary;
}

a:hover {
    color: $secondary;/*lighten($primary, 20%);*/
    cursor: pointer !important;
}

a.link-primary {
    color: $primary;
}

i.bi {
    font-size: 1rem;
}

i.bi-2 {
    font-size: 1.25rem;
}

i.bi-3 {
    font-size: 1.5rem;
}

.page-quick-actions i.bi {
    font-size: 1.1rem;
}

.content a i.bi {
    color: $primary;
}

.content a i.bi:hover {
    color: lighten($primary, 10%);
}

h1, h2, h3, h4, h5 {
    color: $primary;
}

h1, h2, h3 {
    font-weight: 700;
}

h4, h5, h6 {
    font-weight: 600;
}

.fs-7 {
    font-size: 0.75rem !important;
}

hr {
    background-color: $primary;
    opacity: 0.1;
}

.text-secondary {
    color: $secondary !important;
}

.dashboard-widget-title {
    margin: 0;
}

.auth .card-header {
    font-family: $font-family-serif;
    color: $primary;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.5rem 0;
}