// Theme variable
$theme: "light";

// Typography
$font-family-base: 'Inter', 'Helvetica', sans-serif;
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-serif: 'Bodoni Moda', serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Paths
$imagesPath: "/themes/light/images";

/**
/* Colors START
**/

// Collection
$aquamarine: #7fffd4;
$coolgray: #bfdbf7; //#9fa0c3;
$columbia: #C5D5EA;
$cyan: #00F2F2;
$indigo: #1B4965;
$cadet: #1C1F33;
$violet: #564D80;
$lazuli: #22577A;
$dimm-blue: #7392b7;
$celadon: #BAD4AA;

$border-color: #e2f1fc;

// Primaries
$primary: #2b3a67;

// Secondaries
$secondary: $violet;

// Action colors
$light: #fafafa;
$dark: #011638;
$danger: #e56b6f;
$warning: #EDB458;
$success: #4f9d69;
$info: #0892A5;
$other: darken($border-color, 30%);

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'danger': $danger,
    'warning': $warning,
    'info': $info,
    'dark': $dark,
    'other': $other,

    'cadet': $cadet,
    'columbia': $columbia,
    'dimm-blue': $dimm-blue,
    'lightgrey': $coolgray,
);

// Component colors
$body-bg: #fff;
$sidebar-bg: lighten($columbia, 14%);
$sidebar-link: $primary;
$sidebar-link-active: $sidebar-bg;
$sidebar-brand-link: $primary;
$sidebar-multi-title: lighten($dark, 10%);
$sidebar-usermenu: $dark;
$page-header-color: $primary;
$paragraph-color: lighten($dark, 10%);

/**
/* Colors END
**/

// variables
$menu-expanded-width: 18rem;
$menu-collapsed-width: 5rem;
$tooltip-inner-padding-y: .3rem;
$tooltip-inner-padding-x: .2rem;
$tooltip-inner-font-size: .8rem;

$breadcrumb-font-size: .7rem;
$dropdown-padding-y: 0;

$card-bg: transparent;

// Typography
$link-color: $primary;
$link-hover-color: $primary;
$link-color-active: $primary;
$nav-link-font-size: .85rem;
$nav-link-font-weight: 400;
$form-font-size: .85rem;

// Navigation
$nav-tab-bg: #fff;
$nav-tab-color-hover: #000;