// Typography
$font-family-sans-serif: 'IBM Plex Sans', 'Helvetica', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-serif: 'IBM Plex Serif', serif;
$font-family-monospace: 'JetBrains Mono', monospace;
$font-family-icons: 'bootstrap-icons';
$font-size-base: 0.8rem;
$line-height-base: 1.5;

// Paths
$imagesPath: '/themes/light/images';

/**
/* Colors START
**/

// Collection
$coolgreen: #d7faf4;
$columbia: #c5d5ea;
$indigo: #1b4965;
$violet: #564d80;
$lazuli: #22577a;
$dimm-blue: #7392b7;
$celadon: #1bdcb8;
$greenish: #a3aea7;

$red: #d66a6a;
$orange: #e79a1d;
$yellow: #ffe16d;
$green: #4ea881;
$teal: #66c5c7;
$cyan: #6cb4d6;
$blue: #6eabc6;
$purple: #a173d6;
$pink: #d66ab2;
$brown: #b88f75;

$danger: $red;
$warning: #d3622c;
$success: $green;
$info: $blue;

// Action colors
$light: #fff;
$lighttint: tint($primary, 98%);
$dark: #253e4c;
$disabled-text: #6c757d;

$status-unstarted: shade(#adb5bd, 10%);
$status-progress: $warning;
$status-completed: $info;
$status-passed: $success;
$status-failed: #e4281f;
$status-interrupted: $secondary;

// Component colors
$body-bg: $light;
$body-wrapper-bg: rgba($primary, 0.06);
$sidebar-bg: $light;
$sidebar-brand-link: $primary;
$sidebar-multi-title: tint($dark, 40%);
$sidebar-usermenu: $dark;
$page-header-color: $primary;
$paragraph-color: tint($dark, 20%);
$text-btn: tint($coolgreen, 20%);
$text-btn-hover: tint($coolgreen, 40%);
$btn-active-color: #fff;
$card-shadow: 5px 5px 12px 0px rgba($primary, 0.1);
$info-box-color: $info;

$theme-colors: (
    'primary': $primary,
    'primary-100': tint($primary, 80%),
    'primary-200': tint($primary, 60%),
    'primary-300': tint($primary, 40%),
    'primary-400': tint($primary, 20%),
    'primary-500': $primary,
    'primary-600': shade($primary, 20%),
    'primary-700': shade($primary, 40%),
    'primary-800': shade($primary, 60%),
    'primary-900': shade($primary, 80%),
    'secondary': $secondary,
    'secondary-100': tint($secondary, 80%),
    'secondary-200': tint($secondary, 60%),
    'secondary-300': tint($secondary, 40%),
    'secondary-400': tint($secondary, 20%),
    'secondary-500': $secondary,
    'secondary-600': shade($secondary, 20%),
    'secondary-700': shade($secondary, 40%),
    'secondary-800': shade($secondary, 60%),
    'secondary-900': shade($secondary, 80%),
    'success': $success,
    'danger': $danger,
    'warning': $warning,
    'disabled': $disabled-text,
    'light': $light,
    'info': $info,
    'dark': $dark,
    'brown': $brown,
    'violet': $violet,

    'coolgreen': $coolgreen,
    'columbia': $columbia,
    'celadon': $celadon,
    'dimm-blue': $dimm-blue,
    'lightgrey': $columbia,
    'unstarted': $status-unstarted,
    'progress': $status-progress,
    'completed': $status-completed,
    'passed': $status-passed,
    'failed': $status-failed,
    'interrupted': $status-interrupted
);

/**
/* Colors END
**/

// variables
$menu-expanded-width: 18rem;
$menu-collapsed-width: 5rem;
$tooltip-inner-padding-y: 0.3rem;
$tooltip-inner-padding-x: 0.2rem;
$tooltip-inner-font-size: 0.8rem;

$dropdown-divider-bg: $greenish;
$dropdown-link-hover-bg: rgba($primary, 0.1);
$dropdown-link-color: $secondary;
$dropdown-link-color-hover: $secondary;
$dropdown-item-padding-x: 0.75rem;
$dropdown-item-padding-y: 0.25rem;

$breadcrumb-font-size: 0.7rem;
$dropdown-padding-y: 0;

$badge-padding-x: 0.65em;
$badge-padding-y: 0.5em;
$badge-font-size: 0.75em;
$badge-font-weight: 600;

// Cards
$card-bg: $light;

// Typography
$link-color: $primary;
$link-color-hover: tint($primary, 25%);
$link-color-muted: $dimm-blue;
$link-color-muted-hover: shade($dimm-blue, 25%);
$link-color-active: $link-color-hover;
$link-color-active-hover: tint($primary, 35%);
$button-link-active: tint($primary, 90%);
$button-link-active-hover: tint($primary, 80%);
$nav-link-font-size: 0.85rem;
$nav-link-font-weight: 400;

// Navigation
$nav-tab-bg: $light;
$nav-tab-color-hover: #000;

// Forms
$input-border-color: tint($primary, 10%);
$input-border-focus-color: tint($primary, 30%);
$input-color: $secondary;
$form-switch-width: 3em;
$check-border-color: rgba($secondary, 0.6);
$switch-border-color: rgba($secondary, 0.6);
$border-radius: 0.3rem;

// Tables
$table-bg: transparent;
$ombo-body: rgba($primary, 0.06); //lighten($primary, 60%);
$ombo-body-passed: rgba($status-passed, 0.15);
$ombo-body-passed-hover: rgba($status-passed, 0.2);
$ombo-body-warning: rgba($warning, 0.1);
$ombo-body-warning-hover: rgba($warning, 0.15);
$ombo-body-failed: rgba($status-failed, 0.15);
$ombo-body-failed-hover: rgba($status-failed, 0.2);
$ombo-body-completed: rgba($status-completed, 0.25);
$ombo-body-completed-hover: rgba($status-completed, 0.35);
$ombo-body-inactive: rgba($disabled-text, 0.15);
$ombo-body-inactive-hover: rgba($disabled-text, 0.2);
$ombo-body-hover: rgba($primary, 0.15);
$ombo-body-gradient: linear-gradient(
    120deg,
    rgba($primary, 0.06) 0%,
    rgba($primary, 0.1) 70%,
    rgba($primary, 0.12) 100%
);
