// Theme palette
$theme-primary: #285c7f !default;
$theme-secondary: darken($theme-primary, 10%) !default;

// Bootstrap semantic colors
$primary: $theme-primary !default;
$secondary: $theme-secondary !default;

@import "app";
