// Theme palette
$theme-primary: #1c676c !default;
//$theme-primary: #135737;
$theme-secondary: darken($theme-primary, 10%) !default;

// Bootstrap semantic colors
$primary: $theme-primary !default;
$secondary: $theme-secondary !default;

@import "app";
