@use "sass:color";

// Theme palette
$theme-primary: #781093 !default;
$theme-secondary: color.adjust($theme-primary, $lightness: -10%) !default;

// Bootstrap semantic colors
$primary: $theme-primary !default;
$secondary: $theme-secondary !default;

@import "app";
