// badges
.badge.badge-status,
.badge.badge-tag {
    padding: 0.3rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
}

.badge.badge-circle {
    border-radius: 50% !important;
}

.badge.badge-primary {
    background-color: rgba(var(--mbo-primary-rgb), 0.25);
    color: var(--mbo-primary);
}

.badge.badge-secondary {
    background-color: rgba(var(--mbo-secondary-rgb), 0.25);
    color: var(--mbo-secondary);
}

.badge.badge-success {
    background-color: rgba(var(--mbo-success-rgb), 0.25);
    color: var(--mbo-success);
}

.badge.badge-warning {
    background-color: rgba(var(--mbo-warning-rgb), 0.25);
    color: var(--mbo-warning);
}

.badge.badge-danger {
    background-color: rgba(var(--mbo-danger-rgb), 0.25);
    color: var(--mbo-danger);
}

.badge.badge-info {
    background-color: rgba(var(--mbo-info-rgb), 0.25);
    color: var(--mbo-info);
}

.badge.badge-dark {
    background-color: rgba(var(--mbo-dark-rgb), 0.25);
    color: var(--mbo-dark);
}

.badge.badge-rotated {
    transform: rotate(15deg);
}

// alerts
.alert-heading {
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.alert {
    box-shadow:
        0 2px 15px -3px rgb(0 0 0 / 7%),
        0 10px 20px -2px rgb(0 0 0 / 4%);
    padding: 0.75rem 1.5rem;
    margin-bottom: 0.35rem;
}

.alert.alert-success {
    background-color: rgba(var(--mbo-success-rgb), 0.25);
    border-color: rgba(var(--mbo-success-rgb), 0.3);
    color: var(--mbo-success-darken-15);
}

.alert.alert-danger {
    background-color: rgba(var(--mbo-danger-rgb), 0.25);
    border-color: rgba(var(--mbo-danger-rgb), 0.3);
    color: var(--mbo-danger-darken-20);
}

.alert.alert-warning {
    background-color: rgba(var(--mbo-warning-rgb), 0.25);
    border-color: rgba(var(--mbo-warning-rgb), 0.3);
    color: var(--mbo-warning-darken-15);
}

.alert.alert-info {
    background-color: rgba(var(--mbo-info-rgb), 0.25);
    border-color: rgba(var(--mbo-info-rgb), 0.3);
    color: var(--mbo-info-darken-15);
}

.alert-dismissible .btn-close {
    padding: 1rem;
}

.toastify * {
    background: transparent !important;
}

.toastify.success,
.toastify.success * {
    box-shadow:
        0 3px 6px -1px rgba(0, 0, 0, 0.15),
        0 10px 36px -4px rgba(var(--mbo-success-rgb), 0.25);
    background: linear-gradient(90deg, rgba(var(--mbo-success-rgb), 1) 0%, rgba(var(--mbo-success-rgb), 0.95) 40%, rgba(var(--mbo-success-rgb), 0.8) 100%);
    color: $white;
}
.toastify.error,
.toastify.error * {
    box-shadow:
        0 3px 6px -1px rgba(0, 0, 0, 0.15),
        0 10px 36px -4px rgba(var(--mbo-danger-rgb), 0.25);
    background: linear-gradient(90deg, rgba(var(--mbo-danger-rgb), 1) 0%, rgba(var(--mbo-danger-rgb), 0.95) 40%, rgba(var(--mbo-danger-rgb), 0.8) 100%);
    color: $white;
}
.toastify.info,
.toastify.info * {
    box-shadow:
        0 3px 6px -1px rgba(0, 0, 0, 0.15),
        0 10px 36px -4px rgba(var(--mbo-primary-rgb), 0.25);
    background: linear-gradient(90deg, rgba(var(--mbo-primary-rgb), 1) 0%, rgba(var(--mbo-primary-rgb), 0.95) 40%, rgba(var(--mbo-primary-rgb), 0.8) 100%);
    color: $white;
}
.toastify.warning,
.toastify.warning * {
    box-shadow:
        0 3px 6px -1px rgba(0, 0, 0, 0.15),
        0 10px 36px -4px rgba(var(--mbo-warning-rgb), 0.25);
    background: linear-gradient(90deg, rgba(var(--mbo-warning-rgb), 1) 0%, rgba(var(--mbo-warning-rgb), 0.95) 40%, rgba(var(--mbo-warning-rgb), 0.8) 100%);
    color: $white;
}

.toastify .toast-close {
    background: transparent;
    box-shadow: none;
}
