nav::-webkit-scrollbar {
    width: 8px;
}

nav::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 1px;
}

nav::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 1px;
}

nav::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 1px;
}

nav::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 1px;
}

html .sidebar-menu {
    height: 100%;
}

.sidebar-menu {
    z-index: 1031;
    display: table-cell;
    background-color: $sidebar-bg;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 2rem 0;
    overflow-x: hidden;
    transition: all 0.4s ease 0s;
    right: auto;
    left: 0;
}

@media (min-width: 992px) {
    .sidebar-menu {
        width: $menu-expanded-width;
    }

    #hamburger-toggle {
        display: none;
    }

    #hamburger-close {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .sidebar-menu:not(.menu-hamburgered) {
        width: 0 !important;
    }

    .sidebar-menu:not(.menu-hamburgered) * {
        display: none !important;
    }

    #menu-toggle {
        display: none;
    }
}

.sidebar-menu.menu-collapsed {
    width: $menu-collapsed-width;
}

.sidebar-menu.menu-hamburgered {
    width: $menu-expanded-width;
}

.sidebar-menu.menu-collapsed .nav-heading-link,
.sidebar-menu.menu-collapsed .nav-title,
.sidebar-menu.menu-collapsed .brand-title,
.sidebar-menu.menu-collapsed .badge {
    display: none !important;
}

.sidebar-menu.menu-collapsed .nav-link .bi,
.sidebar-menu.menu-collapsed .navbar-brand i {
    margin: 0 !important;
}

.sidebar-menu.menu-collapsed .nav-pills .nav-link,
.sidebar-menu.menu-collapsed .navbar-brand {
    display: block !important;
    text-align: center !important;
}

.sidebar-menu #hamburger-close {
    display: block;
    margin-left: auto;
    align-self: center;
    cursor: pointer;
}

.sidebar-menu:not(.menu-hamburgered) #hamburger-close {
    display: none;
}

.menu-fixed {
    position: fixed !important;
}

.menu-absolute {
    position: absolute !important;
}

.nav-pills {
    margin: 0;
}

.sidebar-menu .nav-link .bi {
    font-size: 1.25rem !important;
    margin-right: 1rem;
}

.sidebar-menu .nav-pills {
    border-radius: unset;
}

.sidebar-menu .navbar-brand {
    transition: all 0.3s ease-in-out;
    display: block;
    padding: 1.5rem;
}

.sidebar-menu .sidebar-footer {
    margin: 1rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-menu .sidebar-footer .menu-release {
    font-size: 0.7rem;
    font-weight: 600;
    color: $primary;
    text-align: end;
}

.sidebar-menu.menu-collapsed .sidebar-footer {
    display: none;
}

.brand {
    width: 100%;
    display: flex;
    align-items: center;
    color: $sidebar-brand-link;
    font-size: 1rem;
    text-decoration: none;
}

.brand .brand-title {
    font-weight: 800;
    font-family: $font-family-serif;
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
}

.brand .brand-icon {
    font-size: 1.8rem;
}

.sidebar-menu .brand .brand-icon i {
    margin-right: 0.65rem;
}

li.nav-item {
    position: relative;
    cursor: pointer;
}

.sidebar-menu .nav-pills .nav-link {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: capitalize;
    color: $link-color;
    padding: 0.3rem 1rem;
    margin: 0 0.75rem;
    background-color: transparent;
}

.sidebar-menu .nav-heading {
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.sidebar-menu .nav-heading-link {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: $link-color;
    padding: 0.3rem 1rem;
    margin: 0 0.75rem;
    text-decoration: none;
}

.sidebar-menu .nav-pills .nav-link:hover {
    color: $link-color-hover !important;
    transition: all 0.3s ease-in-out;
}

.sidebar-menu .nav-pills .nav-link.active {
    font-weight: 600;
    color: $button-link-active !important;
    background: $primary;
    background: linear-gradient(90deg, rgba($primary, 0.8) 0%, rgba($primary, 0.95) 40%, rgba($primary, 1) 100%);
}

.sidebar-menu .nav-pills .nav-link.active:hover {
    color: $button-link-active-hover;
}

.sidebar-menu .nav .nav-item:not(.disabled) a {
    transition: padding 0.35s ease 0s !important;
}

.sidebar-menu:not(.menu-collapsed) .nav .nav-item:not(.disabled):hover > a {
    padding-left: 1.5rem;
    color: $primary;
    transition: padding 0.35s ease 0s !important;
}

.sidebar-menu .nav .nav-multi {
    padding: 0 0 0.3rem 0;
    margin: 0 0 1rem 0;
    font-size: 0.85rem;
    color: tint($dark, 20%);
}

.sidebar-menu .nav .nav-multi.first {
    padding: 0.8rem 0;
    margin-bottom: 1rem;
}

.sidebar-menu .nav-multi ul {
    padding: 0;
    list-style: none;
}

li.user-status {
    position: relative;
}

ul.user-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.user-status .user-nav {
    display: flex;
    align-items: center;
    padding: 1.2rem 2rem;
    margin: 0;
    background-color: transparent;
    color: $sidebar-usermenu;
}

.user-nav .user-actions {
    display: flex;
    position: relative;
    margin-left: auto;
    align-items: center;
}

.user-actions img,
.user-details img {
    border-radius: 50%;
    border: 2px dotted $primary;
}

.user-nav .user-details {
    line-height: 1.2;
    text-decoration: none;
    color: $primary;
}

.user-nav .user-details .user-name {
    font-size: 0.85rem;
    font-weight: 600;
}

.user-nav .user-details .user-email {
    font-size: 0.7rem;
    font-weight: 400;
}

.user-nav .dropdown-menu a.dropdown-item {
    padding: 0.35rem 1.2rem;
}

.user-nav span.profile-name {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0 0.5rem;
    color: $primary;
}

@media (max-width: 992px) {
    .user-nav span.profile-name {
        display: none;
    }
}

a.dropdown-toggle {
    text-decoration: none;
}

.page-top {
    padding: 1.5rem 0;
}

.page-top > .page-top-elements {
    display: flex;
    align-items: center;
}

.page-top .togglers {
    font-size: 1.6rem;
}

.page-top .page-heading,
.page-top .togglers {
    color: $page-header-color;
}

.page-top .page-heading {
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    overflow-x: auto;
}

.page-top .page-heading i.bi {
    font-size: 1.2rem;
    margin-left: 0.75rem;
}

.page-top .page-heading .page-title {
    font-weight: 700;
    font-family: $font-family-serif;
    font-size: 1.8rem;
}

.page-top .page-quick-actions {
    padding-left: 1rem;
    margin-left: auto;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    position: relative;
}

.page-top .page-quick-actions .notification-dropdown {
    display: block;
    white-space: nowrap;
}

.page-menu {
    padding: 0 0 1.25rem 0;
}

.page-menu .nav-pills-horizontal .nav-link {
    display: flex;
    border: 1px solid transparent;
    text-transform: capitalize;
    padding: 0.3rem 0.8rem;
    margin: 0.25rem 0.35rem;
    font-size: 0.9rem;
    font-weight: 500;
    background: transparent;
    align-items: center;
    color: lighten($dark, 10%);
    border-radius: 0.25rem;
    white-space: nowrap;
}

.page-menu .nav-pills-horizontal .nav-link .badge {
    font-size: 0.65rem;
    margin-left: 0.6rem;
    position: relative;
}

.page-menu .nav-pills-horizontal .nav-link:hover {
    cursor: pointer;
}

.page-menu .nav-pills-horizontal .nav-link:hover,
.page-menu .nav-pills-horizontal .nav-link:focus {
    color: $primary;
    background-color: rgba($primary, 0.15);
}

.page-menu .nav-pills-horizontal .nav-link.active {
    color: $primary;
    font-weight: 600;
    background-color: rgba($primary, 0.25);
}

.page-menu .nav-pills-horizontal .nav-link i {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.page-menu ul.nav-pills-horizontal {
    border: 1px solid transparent;
    border-radius: 0.35rem;
    padding: 0.35rem;
    flex-wrap: nowrap;
    overflow-y: auto;
    background-color: $body-bg;
}

.page-menu ul.nav-pills-horizontal li.nav-item {
    display: flex;
}

.breadcrumb {
    margin: 0;
}

.breadcrumb .breadcrumb-item a {
    color: $primary;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.list-menu {
    padding: 2rem 0;

    ul {
        list-style: none;
    }

    ul.sections {
        padding: 0;
    }

    li.section {
        display: flex;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        cursor: pointer;
    }

    li.section .section-title-settings {
        margin-left: auto;
    }

    li.section .section-title {
        font-weight: 600;
    }

    ul.subitems {
        font-size: 0.95rem;
    }

    ul.subitems .section-item {
        display: flex;
        padding: 0.3rem 2rem 0.3rem 0;
        cursor: pointer;
    }

    li.section .section-title:hover,
    ul.subitems .section-item-title:hover {
        color: $secondary;
    }

    ul.subitems .section-item i {
        margin-right: 0.5rem;
    }

    ul.subitems .section-item .section-item-settings {
        margin-left: auto;
    }

    ul.subitems .section-item-title.success {
        color: $success !important;
    }

    ul.subitems .section-item-title.danger {
        color: $danger !important;
    }

    .menu-options {
        display: flex;

        .toggle-all {
            font-size: 0.7rem;
            margin-left: auto;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: $secondary;
            }
        }
    }
}

.nav-btn {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 0.8rem;
    overflow-x: auto;

    .btn {
        padding: 0.25rem 1.2rem;
        margin-right: 0.8rem;
    }

    .btn i {
        position: relative;
        vertical-align: middle;
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }
}

.notification-dropdown .dropdown-menu {
    width: 25rem;
    opacity: 0.9;
}

.notification-dropdown .dropdown-menu .dropdown-header,
.notification-dropdown .dropdown-menu .dropdown-footer {
    padding: 0.3rem 1rem;
    color: $gray-600;
}

.notification-dropdown .dropdown-menu .dropdown-footer {
    float: right;
}

.notification-dropdown .notification-item .notification-contents {
    display: flex;
}

.notification-dropdown .notification-item .notification-contents .notification-text {
    text-wrap: wrap;
}

.notification-dropdown .notification-item .notification-contents .notification-time {
    color: $gray-600;
    text-align: end;
}

.notification-dropdown .dropdown-menu li.notification-li {
    border-top: 1px solid $dropdown-divider-bg;
}

.dropdown-toggle::after {
    font-family: $font-family-icons;
    content: '\f282';
    color: $primary;
    border: none;
    vertical-align: middle;
    font-size: 0.7rem;
}

.icon-btn-nav {
    display: flex;
    align-items: end;
    gap: 0.5rem;

    .panel-left {
        display: flex;
        margin-left: auto;
        gap: 0.375rem 0.75rem;
        flex-wrap: wrap;
    }
}

.nav .nav-item.disabled {
    transition: none;
}

.nav .nav-item.disabled *,
.nav .nav-item.disabled a {
    pointer-events: none;
    transition: unset !important;
    color: $disabled-text !important;
}

.icon-btn,
.icon-btn-sm {
    text-decoration: none;
}

.icon-btn {
    font-size: 1.5rem;
}

.icon-btn span {
    font-weight: bold;
}

.icon-btn-sm {
    font-size: 1.15rem;
}

button.btn.icon-btn,
button.btn.icon-btn-sm {
    padding: 0;
    background: transparent;
    color: $primary;
}
