html,
body {
    direction: ltr;
    height: 100%;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
    background: $primary;
    border-radius: 10px;
}

#app {
    height: 100%;
    word-wrap: break-word;
}

body {
    background-color: $body-wrapper-bg;
}

.content {
    padding: 0;
    position: relative;
    transition: 300ms ease all;
    backface-visibility: hidden;
    min-height: calc(100% - 4rem);
    transition: all 0.4s ease 0s;
    padding-bottom: 1.5rem;
}

.page-wrapper {
    padding: 0 1.5rem;
}

.content-card {
    background-color: $body-bg;
    padding: 1.5rem 1.5rem;
    margin: 0.75rem 0 0.5rem 0;
    border-radius: 0.35rem;
    box-shadow: $card-shadow;

    .content-card-icons i.minimize {
        cursor: pointer;
        font-style: normal;

        &::after {
            font-family: $font-family-icons;
            content: "\f285";
        }
    }

    &.minimized {
        .content-card-body {
            height: 0;
            overflow: hidden;
            padding: 0;
            transition: all 0.3s ease-in-out;
        }

        .content-card-icons i.minimize::after {
            content: "\f282";
        }
    }

    .content-card-body {
        margin-top: 0.85rem;
        padding: 0.5rem 0;
    }

    &:not(.page-card) {
        .content-card-body {
            max-height: 1000px;
            overflow-y: auto;
            overflow-x: clip;
        }

        &.content-card-xs {
            .content-card-body {
                max-height: 300px;
            }
        }

        &.content-card-sm {
            .content-card-body {
                max-height: 500px;
            }
        }

        &.content-card-lg {
            .content-card-body {
                max-height: 1500px;
            }
        }
    }

    & > .content-card-top {
        display: flex;
        align-items: center;
        color: $primary;
        flex-wrap: wrap;

        & > .content-card-header {
            display: flex;
            border: none;
            font-size: 1.1rem;
            font-family: $font-family-serif;
            font-weight: 700;
            background: transparent;
        }
    }
}

.content-card-icons,
.content-card-btns {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content-card-icons {
    margin-left: auto;
}

.content-card-icons i {
    font-size: 1.1rem;
}

.content-card-icons > *:not(:last-child),
.content-card-btns > *:not(:last-child) {
    margin-right: 0.675rem;
}

@media (min-width: 992px) {
    .content {
        margin-left: $menu-expanded-width;
    }
}
@media (max-width: 992px) {
    .content {
        margin-left: 0 !important;
    }

    .page-wrapper {
        padding: 0 0.75rem;
    }

    .content-card {
        padding: 1.25rem 2rem;
    }
}

.content.menu-collapsed {
    margin-left: $menu-collapsed-width;
}

.blank-content {
    overflow: overlay;
    overflow-x: hidden;
}

.flexbox-container {
    display: flex;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    justify-content: center;
}

section.content-wrapper {
    word-wrap: break-word;
}

.text-align-end {
    text-align: end !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.mr-auto,
.me-auto {
    margin-right: auto !important;
}

.bg-light {
    background-color: $light !important;
}

.round {
    border-radius: 1.5rem !important;
}

.align-items-middle {
    vertical-align: middle;
}

.settings .section {
    padding: 1.5rem 0;
}

.error-page {
    display: flex;
    justify-content: center;
    height: 100%;
}

.error-page .error-code {
    font-size: 8rem;
    font-weight: 700;
    font-family: $font-family-monospace;
}

.error-page .error-icon {
    font-size: 5rem;
}

.error-page .error-title {
    font-size: 1.3rem;
    font-family: $font-family-monospace;
    font-weight: 700;
    text-transform: uppercase;
}

.error-page p.error-paragraph {
    font-size: 0.85rem;
}

.nowrap {
    white-space: nowrap !important;
}

.mbo-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: rgba($primary, 1) rgba($primary, 1) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    align-self: center;
    opacity: 0.75;
}
.mbo-loader::after,
.mbo-loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid;
    border-color: transparent transparent rgba($primary, 0.5) rgba($primary, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}
.mbo-loader::before {
    width: 32px;
    height: 32px;
    border-color: rgba($primary, 1) rgba($primary, 1) transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.loader-overlay {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2147483648;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    background: rgba($primary, 0.25);
    opacity: 1;
}
.loader-overlay .mbo-loader {
    height: 65px;
    width: 65px;
}

.breadcrumb .breadcrumb-item {
    color: $primary;
}

ul.list-style-none {
    list-style: none !important;
    margin: 0;
    padding-left: 1rem;
}

ul.list-style-none li {
    margin-bottom: 0.375rem;
}

.settings .settings-contents {
    padding: 0 2.5rem;
}

.users-view-image {
    width: 150px;
}

.divider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem 0;
}
.divider .divider-text {
    position: relative;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 1rem;
    background-color: #fff;
}
.divider .divider-text i {
    font-size: 1rem;
}
.divider .divider-text:before,
.divider .divider-text:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.divider .divider-text:before {
    right: 100%;
}
.divider .divider-text:after {
    left: 100%;
}
.divider.divider-left .divider-text {
    float: left;
    padding-left: 0;
}
.divider.divider-left .divider-text:before {
    display: none;
}
.divider.divider-left-center .divider-text {
    left: -25%;
}
.divider.divider-right .divider-text {
    float: right;
    padding-right: 0;
}
.divider.divider-right .divider-text:after {
    display: none;
}
.divider.divider-right-center .divider-text {
    right: -25%;
}
.divider.divider-dotted .divider-text:before,
.divider.divider-dotted .divider-text:after {
    border-style: dotted;
    border-width: 1px;
    border-top-width: 0;
    border-color: black;
}
.divider.divider-dashed .divider-text:before,
.divider.divider-dashed .divider-text:after {
    border-style: dashed;
    border-width: 1px;
    border-top-width: 0;
    border-color: black;
}

.modal-header,
.modal-footer {
    border: none;
}

.icon-badge {
    white-space: nowrap;
}
