.table-container::-webkit-scrollbar {
    width: 3px;
}

.table-container::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 2px;
}

.table-container::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 2px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 2px;
}

.table-container::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 2px;
}

.table-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0.5rem 0;
}

.settings-table {
    clear: both;
    border-collapse: separate !important;
    border-spacing: 0 1.1rem;
    width: 100%;
}

.settings-table th {
    width: 12rem;
    font-weight: 700;
    font-size: 0.9rem;
}

.settings-table td {
    padding-left: 1rem;
}

.ombo-table tbody {
    border-style: none;
}

.dataTables_paginate a {
    text-decoration: none !important;
}

.pagination .page-item > .page-link,
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid transparent;
    background: transparent;
    padding: 0.5rem;
    margin: 0 0.1rem;
    border-radius: 0.25rem;
}

.pagination .page-item > .page-link:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: rgba($primary, 0.2);
    border: 1px solid rgba($primary, 0.25);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.pagination .page-item.active > .page-link,
.pagination .page-item.active > .page-link:hover {
    color: #fff !important;
    background: $primary;
    border: 1px solid $primary;
}

.ombo-table .action-btns {
    display: flex;
    gap: 0.375rem;
    text-align: center;
    white-space: nowrap;
}

.ombo-table .action-btns a {
    text-decoration: none;
}

table.ombo-table {
    border-collapse: separate !important;
    border-spacing: 0 0.5rem;
}

table.ombo-table td,
table.ombo-table th {
    padding: 0.75rem;
    vertical-align: middle;
}

table.ombo-table tbody tr {
    background-color: rgba($primary, 0.05);
}

table.ombo-table tbody tr:hover {
    background-color: rgba($primary, 0.1);
    transition: all 0.2s ease-in-out;
}

.ombo-table > :not(caption) > * > * {
    border-bottom-width: 0;
}

.ombo-table .user-details,
.user > .user-details {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.ombo-table .user-details img,
.user > .user-details img {
    width: 1.55rem;
    margin-right: 0.5rem;
}

.ombo-table .user-details a,
.user > .user-details a {
    text-decoration: none;
}

.ombo-table td.firstcol {
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}
.ombo-table td.lastcol {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}

ul.ombo-list {
    list-style: none;
    padding: 0;

    li {
        border-radius: 0.35rem;
        background-color: $ombo-body;
        padding: 0.55rem 1rem;
        margin: 0.4rem 0;

        &:hover {
            -webkit-box-shadow: inset -5px -15px 75px -28px $ombo-body-hover;
            -moz-box-shadow: inset -5px -15px 75px -28px $ombo-body-hover;
            box-shadow: inset -5px -15px 75px -28px $ombo-body-hover;
            transition: all 0.2s ease-in-out;
        }

        &.inactive:hover {
            -webkit-box-shadow: inset -5px -15px 75px -28px $ombo-body-inactive-hover;
            -moz-box-shadow: inset -5px -15px 75px -28px $ombo-body-inactive-hover;
            box-shadow: inset -5px -15px 75px -28px $ombo-body-inactive-hover;
            transition: all 0.2s ease-in-out;
        }
    }

    li.passed {
        background-color: $ombo-body-passed;
    }

    li.passed:hover {
        background-color: $ombo-body-passed-hover;
        transition: all 0.2s ease-in-out;
    }

    li.failed {
        background-color: $ombo-body-failed;
    }

    li.failed:hover {
        background-color: $ombo-body-failed-hover;
        transition: all 0.2s ease-in-out;
    }

    li.warning {
        background-color: $ombo-body-warning;
    }

    li.warning:hover {
        background-color: $ombo-body-warning-hover;
        transition: all 0.2s ease-in-out;
    }

    li.completed {
        background-color: $ombo-body-completed;
    }

    li.completed:hover {
        background-color: $ombo-body-completed-hover;
        transition: all 0.2s ease-in-out;
    }

    li.inactive {
        background-color: $ombo-body-inactive;
    }

    li.inactive:hover {
        background-color: $ombo-body-inactive-hover;
        transition: all 0.2s ease-in-out;
    }

    li .list-grid {
        display: flex;
        align-items: center;
    }

    li .list-content {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        width: 100%;
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }

    li .list-content span {
        color: $secondary;
        white-space: nowrap;
        position: relative;
    }

    li .list-actions {
        display: flex;
        align-items: center;
        margin-left: auto;
        position: relative;
        z-index: 10;
        padding-left: 0.5rem;
        background-color: transparent;
        gap: 0.5rem;
    }

    li .list-actions .list-action {
        text-decoration: none;
        font-size: 1rem;
        color: $link-color;
        cursor: pointer;
        white-space: nowrap;
    }

    li .list-actions .list-action:hover {
        color: $link-color-hover;
        transition: all 0.2s ease-in-out;
    }

    li .list-actions .list-action span {
        font-size: 0.85rem;
        font-weight: 600;
    }

    @media (max-width: 820px) {
        li .list-actions .list-action span {
            display: none;
        }
    }
}

.dataTables_paginate a {
    padding: 0 0.5rem;
}

.draggable-table {
    .draggable-table__drag {
        position: absolute;
        width: 100%;
        text-indent: 50px;
        border: 1px solid #f1f1f1;
        z-index: 10;
        cursor: grabbing;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);

        opacity: 1;
    }

    thead {
        th {
            user-select: none;
        }
    }

    tbody {
        tr {
            cursor: grabbing;

            td {
                padding: 10px;
                user-select: none;
                border-top: 1px solid whitesmoke;
            }
        }

        tr:nth-child(even) {
            background-color: #f7f7f7;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        tr.is-dragging {
            background: rgba($primary, 0.15);

            td {
                color: rgba($primary, 0.05);
            }
        }
    }
}
