body {
    color: $paragraph-color;
}

.lh-13 {
    line-height: 1.3 !important;
}

.tab-pane .header {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #111;
    padding-left: 1rem;
    padding-bottom: 1.3rem;
}

.alert a {
    font-weight: 700;
    text-decoration: underline;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $link-color-hover;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out;
}

a:active {
    color: $link-color-active;
}

a.link-primary {
    color: $primary;
}

i.bi {
    font-size: 1rem;
}

i.bi-2 {
    font-size: 1.25rem;
}

i.bi-3 {
    font-size: 1.5rem;
}

.page-quick-actions i.bi {
    font-size: 1.1rem;
}

.content a i.bi {
    color: $primary;
}

.content a i.bi:hover {
    color: tint($primary, 10%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary;
    font-weight: 600;
}

.fs-7 {
    font-size: 0.75rem !important;
}

hr {
    background-color: $primary;
    opacity: 0.1;
}

.text-secondary {
    color: $secondary !important;
}

.text-unstarted {
    color: $status-unstarted !important;
}

.text-progress {
    color: $status-progress !important;
}

.text-completed {
    color: $status-completed !important;
}

.text-passed {
    color: $status-passed !important;
}

.text-failed {
    color: $status-failed !important;
}

.text-interrupted {
    color: $status-interrupted !important;
}

.bg-unstarted {
    background-color: $status-unstarted !important;
}

.bg-progress {
    background-color: $status-progress !important;
}

.bg-completed {
    background-color: $status-completed !important;
}

.bg-passed {
    background-color: $status-passed !important;
}

.bg-failed {
    background-color: $status-failed !important;
}

.bg-interrupted {
    background-color: $status-interrupted !important;
}

.badge.badge-unstarted {
    color: $status-unstarted;
    background-color: rgba($status-unstarted, 0.2);
}

.badge.badge-progress {
    color: $status-progress;
    background-color: rgba($status-progress, 0.2);
}

.badge.badge-completed {
    color: $status-completed;
    background-color: rgba($status-completed, 0.2);
}

.badge.badge-passed {
    color: $status-passed;
    background-color: rgba($status-passed, 0.2);
}

.badge.badge-failed {
    color: $status-failed;
    background-color: rgba($status-failed, 0.2);
}

.badge.badge-interrupted {
    color: $status-interrupted;
    background-color: rgba($status-interrupted, 0.2);
}

.dashboard-widget-title {
    margin: 0;
}

.auth .card-header {
    font-family: $font-family-serif;
    color: $primary;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.5rem 0;
}

.text-serif {
    font-family: $font-family-serif !important;
}

.text-light {
    font-weight: lighter;
    text-indent: 50px;
}

.fs-8 {
    font-size: 0.7rem !important;
}

.text-muted {
    font-size: 0.7rem;
}
